{% extends "base.html" %}
{% block title %}
    Home Page
{% endblock %}
{% block content %}
<div class="container">
    <div class="columns">
        <div class="column is-one-fifth">
           
        </div>
        <div class="column is-three-fifths">
            <div class="section">

            </div>
            <p class="block title">Select the required State</p>
            <!-- <p class="block">
                <a class="subtitle" href="/kerala">Kerala</a>
            </p> -->
            <div class="field">
                <label class="label">State</label>
                <div class="control">
                  <div class="select" >
                    <form id="comment-form1" name="contact-form1"  onsubmit="return mysubmit();">
                    <select  id="option" class="chosen">
                      <!-- <option selected disabled>Select State</option> -->
                      <option value="/andhrapradesh">Andhra Pradesh</option>
                      <option value="/bihar">Bihar</option>
                      <option value="/delhi">Delhi</option>
                      <option value="/goa">Goa</option>
                      <option value="/gujarat">Gujarat</option>
                      <option value="/karnataka">Karnataka</option>
                      <option value="/kerala">Kerala</option>
                      <option value="/maharashtra">Maharashtra</option>
                      <option value="/rajasthan">Rajasthan</option>
                      <option value="/tamilnadu">Tamil Nadu</option>
                      <option value="/telangana">Telangana</option>
                      <option value="/westbengal">West Bengal</option>

                      <div class="section"> </div>  
                    </select>
                    <div class="block">

                    </div>
                    <input class="button is-success" type="submit" value="Submit" />
                    </form>
                  </div>
                </div>
              </div>
        </div>
        <div class="column is-one-fifth">

        </div>
    </div>
    <script>
        document.getElementById('comment-form1').addEventListener('submit',(e)=>{
         e.preventDefault();
         window.location = (document.getElementById('option').value);
        })
    </script>
</div>
{% endblock %}
