{% extends "base.html" %}
{% block title %}
    Home Page
{% endblock %}
{% block content %}
<div class="container">
    <div class="columns">
        <div class="column is-one-fifth">
           
        </div>
        <div class="column is-three-fifths">
            <p class="block title">Select the required State</p>
            <p class="block">
                <a class="subtitle" href="/kerala">Kerala</a>
            </p>
        </div>
        <div class="column is-one-fifth">

        </div>
    </div>
</div>
{% endblock %}
