{% extends "base.html" %}
{% block title %}
    Home Page
{% endblock %}
{% block content %}
<div class="container">
    <div class="columns">
        <div class="column is-one-fifth">
           
        </div>
        <div class="column is-three-fifths">
            <p class="block title">Give date as an input</p>
            <p class="subtitle"> Date should be in yyyy-mm-dd </p>
            <form action="#" method="post">
                <p><input type="text" name="nm" /></p>
                <p><input type="submit" value="submit" /></p>
            </form>
            
        </div>
        <div class="column is-one-fifth">

        </div>
    </div>
</div>
{% endblock %}