{% extends "base.html" %}
{% block title %}
    Home Page
{% endblock %}
{% block content %}
<div class="container">
    <div class="columns">
        <div class="column is-one-fifth">
           
        </div>
        <div class="column is-three-fifths">
            <div class="section">

            </div>
            <p class="block title">Predicted Covid-19 Cases</p>
            <p class="block">
                <p class="is-size-5">The predicted cases is {{id}} .</p>
            </p>
        </div>
        <div class="column is-one-fifth">

        </div>
    </div>
</div>
{% endblock %}